/*HEADER*/
.confirm-pay-logo-bar.full {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 3rem;
    height: 80px;
    border-bottom: 1px solid var(--divider);

    .logo-header {
        display: inline-flex;
        align-items: center;
        gap: 3px;
        text-decoration: none;
        border: none;
        outline: none;
        color: var(--primary-clr);

        .icon svg {
            display: block;
            height: 32px;
            width: 32px;
        }

        .brand {
            font-family: cereal-bold;
            font-size: 22px;
            line-height: 1.2;
            letter-spacing: -0.02em;
        }
    }
}

/*PAGE*/
.confirm-pay-page {
    display: grid;
    grid-template-columns: 3rem minmax(auto, 1352px) 3rem;
    grid-template-rows: auto 1fr;
    align-items: start;
    padding: 32px 0 64px;
    min-height: 100vh;
    margin-inline: auto;
    max-width: 1440px;

    >* {
        grid-column: 2;
    }


    .confirm-pay-title {
        line-height: 1;
        font-size: 2rem;
        font-family: cereal-bold;
        letter-spacing: -0.02em;
    }

    .btn.back {
        grid-column: 1;
        align-self: center;
        justify-self: end;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.875rem;
        margin-right: 1rem;
    }
}

.confirm-pay-header {
    display: none;
    /* hidden on desktop */
}


/*LEFT COLUMN*/
.confirm-layout {
    display: flex;
    gap: 80px;
    padding: 1rem 0 1.5rem;
}

.confirm-main {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 1.5rem;

    >.payment-timing,
    >.payment-method,
    >.host-message {
        border: 1px solid var(--gray6);
        border-radius: 20px;
        padding: 1.5rem;
    }
}

.section-title {
    font-size: 18px;
}

.payment-timing,
.payment-method {
    display: flex;
    flex-direction: column;
}

.payment-options {
    display: flex;
    flex-direction: column;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* credit card icon */
.payment-option>span:first-child {
    flex-shrink: 0;
}

.payment-option.split-option {
    flex-direction: column;
    align-items: stretch;
    line-height: 1.5;
}

.option-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.split-pay {
    display: inline-flex;
    gap: 0.3rem;
    font-size: 14px;
    color: var(--gray2);
    flex-wrap: wrap;
    margin: 0;

    .btn.more-info {
        color: var(--gray2);

        &:hover {
            color: black;
        }
    }
}

.btn.confirm-next {
    width: 112px;
    height: 48;
    letter-spacing: 0.03rem;
    margin: 16px 0 0;
    border-radius: 12px;
    align-self: flex-end;
}

.payment-timing.active,
.payment-method.active,
.host-message.active {
    box-shadow: 0px 4px 7px 0px rgb(0 0 0 / 10%);
}

.payment-radio.payment-option.card {
    padding: 20px 0;
}

.payment-timing-summary {
    font-size: 14px;
    color: var(--gray2);
    padding: 4px 0 0;
    line-height: 1.5;
}

.collapsed-method-summary {
    display: flex;
    align-items: center;
    margin-top: 3px;

    .pay-method-label {
        color: var(--gray2);
    }
}

.btn-reserve-small {
    width: 150px;
    align-self: end;
}

/*Message Host*/
.msg-host-block {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0;
}

.msg-host-intro,
.msg-host-hosting-since {
    font-size: 14px;
    color: var(--gray2);
}

.msg-host-greeting {
    font-size: 14px;
}

.msg-host-img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.msg-host-avatar {
    display: flex;
    align-items: center;

}

.msg-host-info {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.msg-host-intro {
    margin: 8px 0 16px;
}

.msg-host-hosting-since {
    margin-top: 4px;
}

.msg-host-avatar-greeting {
    margin: 0 0 16px;
}

.msg-host-greeting {
    margin: 12px 0 0;
}

.msg-host-textarea {
    padding: 8px;
    border-radius: 8px;
}

.msg-host-textarea::placeholder {
    font-size: 1rem;
    font-family: cereal-regular;
}

.msg-host-btn-container {
    display: flex;
    justify-content: flex-end;
}

/*RIGHT COLUMN at ReservationSummary.css*/