/*TODO: fix the left shift between 1440 and 1244*/

@media (max-width: 1439px) and (min-width: 1128px) {
    .confirm-pay-page {
        justify-content: center;
        grid-template-columns:
            3rem minmax(auto, 1084px) 3rem;
    }

    .confirm-main {
        width: 500px;
        flex-shrink: 0;
    }

    .reservation-summary-wrapper {
        flex-shrink: 0;
    }

    .reservation-summary-wrapper .reservation-summary {
        width: 360px;
    }
}

@media (max-width: 1127px) and (min-width: 950px) {
    .confirm-pay-page {
        grid-template-columns:
            minmax(4rem, 1fr) minmax(auto, 900px) minmax(4rem, 1fr);
        justify-content: center;
    }

    .confirm-layout {
        gap: 60px;
    }

    .confirm-main {
        width: 460px;
        flex-shrink: 0;
    }

    .reservation-summary-wrapper {
        flex-shrink: 0;
    }

    .reservation-summary-wrapper .reservation-summary {
        width: 340px;
    }

}

/*TABLET*/
@media (max-width: 949px) {
    .main-container {
        grid-template-columns:
            minmax(2rem, 1fr) minmax(0, min(909px, 100% - 4rem)) minmax(2rem, 1fr);
    }

    .confirm-pay-page>.btn.back,
    .confirm-pay-page>.confirm-pay-title {
        display: none;
    }

    .brand {
        display: none;
    }

    .confirm-pay-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.6rem;
    }

    .confirm-pay-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 480px;
        max-width: 90%;
        order: -1;
    }

    .confirm-pay-header .btn.back {
        margin-left: -4.3rem;
        margin-right: 0.5rem;
    }

    .confirm-layout {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
    }

    .reservation-summary-wrapper {
        order: -1;
    }

    .confirm-main,
    .reservation-summary-wrapper {
        width: 480px;
        max-width: 90%;
    }

    .reservation-summary-wrapper .reservation-summary {
        width: 100%;
        max-width: 480px;
    }


    .rare-find {
        border: 1px solid var(--gray6);
        border-radius: 20px;
        padding: 1.5rem;
        margin-bottom: 0.6rem;
    }

}

/*MOBILE temporary*/
@media (max-width: 744px) {

    .confirm-pay-header,
    .confirm-main,
    .reservation-summary-wrapper {
        max-width: 420px;
        width: 95%;
    }

    .confirm-pay-header .btn.back {
        margin-left: -1.5rem;
    }

    .confirm-pay-header {
        gap: 1rem;
    }

    .reservation-summary-order {
        .reservation-summary-title {
            font-size: 1rem;
        }
    }

    .section-title {
        font-size: 1rem;
    }

    .btn-reserve-small {
        width: 100%;
        align-self: stretch;
    }
}