@media (max-width: 1239px) {
    .explore-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 949px) and (min-width: 744px) {
    .explore-page {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        grid-template-columns: 1fr !important;
        grid-template-areas: "list" !important;
    }

    /*MAP OPEN */
    .explore-page.map-open {
        width: 100vw !important;
        height: 100vh !important;
        overflow: hidden !important;
        gap: 0;
    }

    .explore-page.map-open .explore-map-wrapper {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    /* Hide list while in map mode */
    .explore-page.map-open .explore-items-wrapper {
        display: none !important;
    }

    /*  LIST OPEN (MAP CLOSED)*/
    .explore-page:not(.map-open) .explore-items-wrapper {
        padding-inline: 2rem;
        margin-top: 96px;
        display: block !important;
    }

    .stay-preview.big {
        max-width: none;
    }

    .toggle-map-btn {
        position: fixed;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2000;
        font-size: 14px;
        letter-spacing: 0.02em;
    }

    .explore-page.map-open .explore-items-wrapper {
        display: none !important;
    }
}

@media (max-width: 743px) {
    .explore-page .explore-map-wrapper {
        order: -1;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 79px);
        z-index: 1;
        margin: 0;
        border-radius: 0;
        padding-top: 79px;
    }

    .explore-page {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: none;
        min-height: 100vh;
    }

    .explore-grid {
        order: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 22px;
        padding-inline: 22px;
        margin: 0;
    }

    .items-wrapper {
        position: relative;
        z-index: 10;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        margin-top: 50vh;
        background: white;
    }

    /* .items-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: white;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        height: 60vh;
        transform: translateY(15%);
        transition: transform 0.3s ease;
    } */


    .drag-handle {
        min-height: .6rem;
        width: 100%;
        position: relative;
    }

    .drag-handle::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-20px);
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(32, 32, 32, 0.2);
        z-index: 20;
    }

    .explore-title {
        margin: 0;
        padding-inline: 22px;
        text-align: center;
    }

    .gm-style .gm-style-iw-c {
        & .gm-style-iw-d {
            & .stay-preview.big {
                .stay-info:not(:first-child) {
                    padding-top: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 549px) {
    .explore-grid {
        grid-template-columns: minmax(200px, 1fr);
    }

    .stay-preview.big {
        max-width: none;
    }
}