.explore-page {
    position: relative;
    margin-top: 96px;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas:
        "list map";
    gap: 3rem;

    .explore-map-wrapper {
        position: sticky;
        top: 120px;
        grid-area: map;
        height: 80vh;
        margin-top: 1.5rem;
        border-radius: 25px;
        overflow: hidden;
    }

    .explore-items-wrapper {
        grid-area: list;
    }
}


.explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 1.5rem;
}

.stay-preview.big {
    max-width: 350px;
    height: 100%;
    width: 100%;
}

.explore-title {
    /* 48px */
    padding: 24px 0;
    font-size: 14px;
}

.div-for-focus {
    padding: 2px;

    &:focus {
        border-radius: 23px;
    }
}

.div-for-focus:focus .preview-carousel-controls {
    visibility: visible;

}

.stay-preview.big .stay-info * {
    font-size: 0.955rem;
    color: var(--gray2);
    line-height: 1.2;
}

.stay-preview.big .stay-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: cereal-light;
    font-weight: 700;
    overflow: hidden;

    .stay-name {
        color: var(--gray3);
        padding-inline-end: 7px;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
}

.stay-preview.big .stay-rating {
    display: flex;
    align-items: start;
    color: var(--gray3);
}

.stay-preview.big .stay-summary {
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stay-preview.big .guest-favorite-badge {
    font-size: 13px;
    padding: 0.36rem 0.7rem;
}

.stay-preview.big .stay-price-wrap {
    padding-block-start: .5rem;

    .price-number {
        font-family: cereal-medium;
        color: var(--gray3);
        text-decoration: underline;
    }

    .price-text {
        font-family: cereal-regular;
        color: var(--gray2);
        text-decoration: none;
    }
}

.stay-preview.big .explore-cancellation-policy {
    font-size: 12px;
}

/* Map Styling */
.marker.btn-pill {
    font-family: cereal-medium;
    font-size: 1.1rem;
    line-height: 1rem;
    background-color: white;
    padding: .3rem .5rem;
    outline: 1px solid var(--gray7);
    box-shadow: 0px 2px 6px 1px #2222225c;
    cursor: pointer;
    user-select: none;
}

.marker.btn-pill.active {
    background-color: var(--gray3);
    color: white;
}

.marker-wrapper {
    position: relative;
    transition: transform 0.15s ease;
}

.marker-wrapper.hovered {
    transform: scale(1.1);
}

.marker-wrapper.active {
    transform: scale(1.1);
}

.marker-wrapper.hovered-outside {
    transition: all 0.3s ease;

    transform: scale(1.11);

    .marker.btn-pill {
        background-color: var(--gray3);
        color: white;
    }
}

/* infoWindow styling modal*/

.gm-style .gm-style-iw-c {
    position: absolute;
    top: -25px;
    border-radius: 25px;

    padding: 0;
    box-shadow: 0 2px 7px 1px rgba(159, 159, 159, 0.15);


    flex: 1;

    /* header */
    .gm-style-iw-chr {
        position: relative;
        padding: 0;
        height: 0;

        >button {
            position: absolute;
            display: block;
            opacity: 1;
            z-index: 5;
            top: .5rem;
            right: .6rem;
            background-color: rgba(236, 236, 236, 0.78) !important;
            border-radius: 50px;
            box-shadow: -1px 3px 8px 1px #4545455c;
            display: flex;
            justify-items: center;
            margin: 0px;
            width: 2rem !important;
            height: 2rem !important;
            transition: scale .1s ease !important;

            span {
                margin: 0 !important;
                width: 1.3rem !important;
                height: 1.3rem !important;
            }

            &:hover {
                background-color: white !important;
                scale: 1.08;
            }
        }
    }

    /* main */
    .gm-style-iw-d {
        overflow: hidden !important;

        .stay-preview.big {
            aspect-ratio: 1/1;
            max-height: 300px !important;
            max-width: 330px !important;



            .stay-image-wrapper {
                .preview-carousel-btn {
                    top: 50%;
                    transform: translate(-50% -50%);
                }


                .single-img-carousel,
                .carousel-window,
                .carousel-track,
                .carousel-slide,
                .carousel-slide img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 0 0;
                }

                .heart-btn {
                    position: absolute;
                    top: .5rem;
                    right: 3.5rem;
                    background-color: #ffffffe1;
                    box-shadow: -1px 3px 8px 1px #2222225c;
                    border-radius: 50px;
                    transition: transform 0.2s ease;

                    &:hover {
                        background-color: var(--white);
                        scale: 1.0;
                        transform: scale(1.05);
                    }

                    .heart-icon svg {
                        display: block;
                        fill: none;
                        height: 1.2rem;
                        width: 1.2rem;
                        stroke: var(--gray3);
                        transform: translate(2%, 7%);
                    }

                    &.active .heart-icon svg {
                        fill: var(--primary-clr);
                        stroke: none;
                    }
                }
            }

            .stay-info:not(:first-child) {
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: start;
                gap: .1rem;
                column-gap: .5rem;
                padding-inline: .9rem;
                padding-block: .9rem;


                p.stay-summary {
                    overflow: hidden;
                    text-overflow: ellipsis !important;
                }

                p.stay-card-details,
                p.explore-cancellation-policy {
                    display: none;
                }

                .stay-price-wrap {
                    padding-block-start: 0;
                }

                .stay-price {
                    text-decoration: none;
                    padding-right: 2px;
                    font-family: cereal-regular;
                }
            }
        }
    }
}

.gm-style .gm-style-iw-tc::after {
    visibility: hidden !important;
}