.explore-page {
    position: relative;
    margin-top: 96px;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 48px;
}

.stay-preview.big {
    max-width: 320px;

}

.explore-title {
    padding: 24px 48px;
    font-size: 14px;
}

.stay-preview.big .stay-image-wrapper {
    height: 304px;
}

.stay-preview.big .stay-name {
    font-size: 0.938rem;

}

.stay-preview.big .stay-card-details,
.stay-preview.big .stay-card-dates {
    font-size: 0.938rem;
    color: var(--gray2);
}

.stay-preview.big .stay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stay-preview.big .stay-rating {
    display: flex;
    align-items: center;
    color: var(--gray3);
    gap: 0.2rem;
}

.stay-preview.big .stay-summary {
    font-size: 0.938rem;
    color: var(--gray2);
    line-height: 1.3;

    white-space: nowrap;
    /* keep it on one line */
    overflow: hidden;
    /* hide the overflow */
    text-overflow: ellipsis;
    /* show "…" */
}

.stay-preview.big .guest-favorite-badge {
    font-size: 14px;
    padding: 0.36rem 0.7rem;
}

.stay-preview.big .stay-price {
    color: var(--gray3);
    text-decoration: underline;
    font-weight: 600;
}

.explore-cancellation-policy {
    font-size: 12px;
}