@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.stay-details>* {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-inline: 5rem;
}

.main-content {
    h1 {
        font-size: 1.625rem;
        line-height: 1.875rem;
        padding-block: 1.5rem;

    }

    h2 {
        font-size: 1.375rem;
        line-height: 1.925rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-family: cereal-medium;
        margin: 0;
    }

    h3 {
        font-size: .875rem;
        font-family: cereal-medium;
        font-weight: 400;
    }

    .bold {
        font-family: cereal-regular;
        font-weight: bolder;
    }

    span.dot {
        display: inline-block;
    }

    .light {
        color: var(--gray2);
        font-size: 14px;
    }

    span.dot::before {
        content: "•";
        font-size: 13px;
    }

    span.link {
        text-decoration: underline;
    }

    .details-imgs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-height: 378px;
        width: 100%;
        gap: 8px;
        border-radius: 10px;
        overflow: hidden;

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .img-1 {
            grid-row: span 2;
            grid-column: span 2;
        }
    }

    .details-container {
        display: grid;
        grid-template-columns: minmax(auto, 39.688rem) minmax(auto, 24.813rem);
        grid-template-areas: "content reserve";


        .content .main-info {
            padding-block: 2rem;

            .first-block {
                padding-block-end: 2rem;

                .capacity {
                    display: flex;
                    gap: 4px;
                }
            }

            .rating {
                font-family: cereal-medium;
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: .4rem;

                .link {}
            }

            .avg {
                font-size: 1px;
                font-size: 1.1rem;
            }

            .mini-host {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                padding-block: 1.37rem;

                h3 {
                    font-size: 1rem;
                    line-height: 1.45rem;
                }

                span {
                    font-size: .885rem;
                    line-height: 1.4rem;
                }

                img.host-img {
                    object-fit: cover;
                    object-position: 20% 10%;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                }
            }

            .highlights {
                padding-block: 2rem;
                padding-inline-start: .5rem;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                    padding-bottom: 1.3rem;
                }

                li:last-child {
                    padding-bottom: 0;
                }

                span {
                    font-size: .885rem;
                    line-height: 1.6rem;
                }
            }

            .summary {

                padding-block-start: 2rem;
                padding-block-end: .5rem;
                line-height: 22px;

                p {
                    margin: 0
                }

                button {
                    margin-inline-start: 0;
                    margin-block-end: 3rem;
                }
            }

            .beds-container {
                padding-block: 2rem;
                position: relative;

                h2 {
                    font-size: 1.4rem;
                    letter-spacing: -.9px;
                }

                span.upper-comma {
                    content: ",";
                    position: absolute;
                    top: 19px;
                    left: 105px;
                }

                .bedrooms {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    padding-block: 8px;

                    .bedroom {
                        display: flex;
                        flex-direction: column;
                        padding-block-end: 8px;

                        div,
                        h4 {
                            margin-top: .975rem;
                            font-size: 16.5px;
                            font-family: cereal-medium;
                            font-weight: 400;
                        }

                        .light {
                            font-size: .965rem;
                            padding-top: .2rem;
                        }

                        div.img {
                            max-height: 210px;
                            min-width: 315px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                overflow: hidden;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }

            .amenities-container {
                padding-block: 3rem;

                h2 {
                    padding-block-end: 1.5rem;
                }

                button {
                    margin: 1.5rem 0 0 0;
                }

                .amenities-short-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-flow: row;
                    column-gap: 2rem;

                    li:nth-child(9),
                    li:last-child {
                        padding-bottom: 1rem;
                    }

                    li {
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        padding-block-end: 1.7rem;
                    }
                }
            }

        }
    }

    .types-list {

        .type {
            padding-bottom: 2rem;

            h3 {
                padding-block: 1rem;
            }

            .amenities-list .amenity {
                padding-block: 1.5rem;
                gap: 1rem;
            }
        }
    }

}