.stay-details {
    font-size: 1rem;
    line-height: 1.25rem;
    /* grid-template-columns: subgrid; */
    grid-template-columns: auto minmax(auto, 1128px) auto;

    h1 {
        font-size: 1.625rem;
        line-height: 1.875rem;
        padding-block: 1.5rem;
    }

    h2 {
        font-size: 1.375rem;
        line-height: 1.925rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-family: cereal-medium;
        margin: 0;
    }

    h3 {
        font-size: .875rem;
        font-family: cereal-medium;
        font-weight: 400;
    }

    .bold {
        font-family: cereal-regular;
        font-weight: bolder;
    }

    span.dot {
        display: inline-block;
    }

    .light {
        color: var(--gray2);
        font-size: 14px;
    }

    span.dot::before {
        content: "•";
        font-size: 13px;
    }

    span.link {
        text-decoration: underline;
        cursor: pointer;
    }

    .share-btns-container {
        gap: 1rem;
        display: flex;
        align-items: center;

        .heart-icon,
        .share-icon {
            display: flex;
            align-items: center;
            gap: .2rem;

            .link {
                font-size: .875rem;
                font-family: cereal-light;
                font-weight: 600;
                text-underline-offset: 1.5px;
            }
        }

        .share-btn,
        .save-heart-btn {
            display: flex;
            align-items: center;
            height: 30px;
            border-radius: 8px;
            background: none;
            padding: .5rem;

            svg {
                width: 1rem;
                height: 1rem
            }

            &:hover {
                background-color: var(--gray8);
            }
        }

        .heart-icon svg {
            display: block;
            fill: none;
            height: 1rem;
            width: 1rem;
            stroke: var(--gray3);
            stroke-width: 2.5;
            overflow: visible;
            cursor: pointer;
        }

        .heart-icon.active svg {
            stroke: var(--primary-clr);
            fill: var(--primary-clr);
        }

    }

    .details-imgs.desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 50%;
        aspect-ratio: 2.6/1;
        gap: 8px;
        border-radius: 12px;
        overflow: hidden;

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .img-container.img-1 {
            grid-row: span 2;
            grid-column: span 2;
        }
    }

    .details-container {
        display: grid;
        grid-template-columns: minmax(auto, 2fr) minmax(auto, .3fr) minmax(auto, 1fr);

        .sticky-ref {
            grid-column: 3/-1;
            width: clamp(244px, 36vw, 370px);

        }

        .content {
            padding-block: 2rem;
            display: grid;
            grid-template-columns: minmax(250px, 1fr);

            .first-block {
                padding-block-end: 2rem;

                .capacity {
                    display: flex;
                    gap: 4px;
                }
            }

            .rating {
                font-family: cereal-medium;
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: .4rem;
            }

            .avg {
                font-size: 1px;
                font-size: 1.1rem;
            }

            .mini-host {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                padding-block: 1.37rem;

                h3 {
                    font-size: 1rem;
                    line-height: 1.45rem;
                }

                span {
                    font-size: .885rem;
                    line-height: 1.4rem;
                }

                img.host-img {
                    object-fit: cover;
                    object-position: 20% 10%;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                }
            }

            .highlights {
                padding-block: 2rem;
                padding-inline-start: .5rem;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                    padding-bottom: 1.3rem;
                }

                li:last-child {
                    padding-bottom: 0;
                }

                span {
                    font-size: .885rem;
                    line-height: 1.6rem;
                }
            }

            .summary {

                padding-block-start: 2rem;
                line-height: 22px;

                .summary-txt,
                p {
                    padding-block-end: 1rem;
                    margin: 0
                }

                button {
                    margin-inline-start: 0;
                    margin-block-end: 3rem;
                }
            }

            .beds-container {
                padding-block: 2rem;
                position: relative;

                h2 {
                    font-size: 1.4rem;
                    letter-spacing: -.9px;
                }

                span.upper-comma {
                    content: ",";
                    position: absolute;
                    top: 19px;
                    left: 105px;
                }

                .bedrooms {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    padding-block: 8px;

                    .bedroom {
                        display: flex;
                        flex-direction: column;
                        padding-block-end: 8px;

                        div,
                        h4 {
                            margin-top: .975rem;
                            font-size: 16.5px;
                            font-family: cereal-medium;
                            font-weight: 400;
                        }

                        .light {
                            font-size: .965rem;
                            padding-top: .2rem;
                        }

                        div.img {
                            max-height: 210px;
                            max-width: 315px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                overflow: hidden;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }

            .amenities-container {
                padding-block: 3rem;

                h2 {
                    padding-block-end: 1.5rem;
                }

                button {
                    margin: 1.5rem 0 0 0;
                }

                .amenities-short-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-flow: row;
                    column-gap: 2rem;

                    &.mobile {
                        grid-template-columns: none;
                    }

                    li:nth-child(9),
                    li:last-child {
                        padding-bottom: 1rem;
                    }

                    li {
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        padding-block-end: 1.7rem;
                    }
                }
            }

        }
    }

    .types-list {

        .type {
            padding-bottom: 2rem;

            h3 {
                padding-block: 1rem;
            }

            .amenities-list .amenity {
                padding-block: 1.5rem;
                gap: 1rem;
            }
        }
    }

    .details-calendar {
        padding-block: 3rem 1rem;

        .date-modal-content.single {
            .rdp-months {
                justify-content: center;
            }


            td.rdp-day,
            .rdp-weekday {
                width: clamp(2rem, 89vh, 8rem);

                .rdp-day_button {
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }

        }
    }
}

.map-container {
    padding-block: 3rem 5rem;

    .map-wrapper {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        height: 500px;
    }

    .home-icon-div {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--gray3);
        width: 48px;
        height: 48px;
        border-radius: 50px;

        .small-square {
            background: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, rgb(34, 34, 34) 50%);
            border-radius: 2px;
            bottom: -4px;
            height: 12px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0px) rotate(45deg);
            width: 12px;
        }
    }

    .where-map {
        padding-block: 1rem;

        h3 {
            position: relative;
            font-size: 1.4rem;
            letter-spacing: -.8px;
            padding-bottom: 1.5rem;

            span.upper-comma {
                content: ",";
                position: absolute;
                top: -13px;
                left: 106px;
            }
        }
    }
}


@media (max-width: 743px) {

    /* Details page */
    .main-content {
        display: flex;
        flex-direction: column;
        margin-block-start: 65px;

        .details-imgs.mobile {
            scroll-snap-align: center;

            .carousel-list {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 103%;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                padding-inline: 12px;
                scroll-padding-left: 12px;
            }

            img {
                width: 100%;
                height: clamp(20rem, 60vw, 32rem);
                object-fit: cover;
            }
        }

        .btns-mobile-wrapper {
            display: flex;
            justify-content: space-between;
            padding-inline-end: 1rem;
            background-color: rgb(255, 255, 255);
            width: 97vw;
            height: 2rem;
            position: absolute;
            top: 10px;
            z-index: 3;

            .share-btn.mobile,
            .save-heart-btn.mobile,
            .btn-back.mobile {
                display: flex;
                align-items: center;
                border-radius: 50px;
                width: 3rem;
                background: none;
            }

            .btn-back.mobile svg,
            .share-btn.mobile svg,
            .save-heart-btn.mobile .heart-icon svg {
                height: 1.5rem;
                width: 1.5rem;
                stroke-width: 3;
            }

            .save-heart-btn.mobile .heart-icon svg {
                stroke: var(--gray3);
                fill: none;
            }

            .save-heart-btn.mobile .heart-icon.active svg {
                stroke: var(--primary-clr);
                fill: var(--primary-clr);
            }
        }

        .details-container {
            display: flex;
            flex-direction: column;

        }

        .details-calendar {
            padding-block: 3rem 1rem;

            .date-modal-content.single {
                .rdp.root {
                    width: 92%;
                    display: flex;
                    justify-content: center;
                }

                .rdp-month {
                    width: 100%;
                }

                td.rdp-day,
                .rdp-weekday {
                    width: clamp(2rem, 89vh, 8rem);

                    .rdp-day_button {
                        height: 100%;
                        width: 100%;
                        aspect-ratio: 1/1;
                    }
                }

            }
        }
    }

    button.open-modal.mobile {
        width: 100%;
    }
}