.edit-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.edit-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--white);
    z-index: 100;
}

.logo-black-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

.logo-black-icon {
    height: 2rem;
    width: auto;
    cursor: pointer;
}

.header-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.875rem;
}

.save-exit-button,
.questions-button {
    background: none;
    border: 1px solid var(--gray6);
    height: 40px;

}

.save-exit-button:hover,
.questions-button:hover {
    border: 1px solid var(--gray3);
}

.step-main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    padding-top: 10rem;
    margin: 0 auto;
    width: 100%;
    gap: 60px;
}

.step-left {
    flex: 1;
    max-width: 600px;
}

.step-label {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--gray3);
    margin-bottom: 1rem;
}

.step-main-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--gray3);
    margin: 0 0 1.5rem 0;
    line-height: 1.2;
}

.step-main-description {
    font-size: 1.125rem;
    color: var(--gray3);
    line-height: 1.6;
    margin: 0;
}

.step-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-video {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
}

.step-footer {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray4);
    margin-block-start: 2rem;
}

.back-button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray3);
    cursor: pointer;
    text-decoration: underline;
}

.back-button:hover {
    background-color: var(--gray8);
    border-radius: 0.5rem;
}