.wishlists-index {
    padding-block: 80px;
    margin-block: 104px;
}

.wishlist-page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    width: 100%;
    max-width: 1352px;
    margin-inline: auto;
    padding-inline: 0;
}

.wishlists-index-title {
    color: var(--gray3);
    font-weight: bolder;
    margin-bottom: 32px;
    justify-self: start;
}

.wishlist-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    gap: 40px 24px;
    width: 100%;
    justify-items: center;
}

.wishlist-preview {
    position: relative;
}

.wishlist-preview a {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-decoration: none;
}

/*X BUTTON*/
.wishlist-delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    top: 0.75rem;
    left: 0.75rem;
    padding: 0;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
}

.wishlist-delete svg {
    display: block;
    stroke: var(--gray3);
    stroke-width: 3;
    width: 1rem;
    height: 1rem;
}

.wishlist-preview:hover .wishlist-delete {
    opacity: 1;
    visibility: visible;
}

.wishlist-delete:hover {
    background: var(--white);
}

/*Card*/
.wishlist-stay-img {
    width: 100%;
    aspect-ratio: 1.048 / 1;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 6px 6px 11px rgb(0 0 0 / 11%),
        -3px -3px 5px rgb(0 0 0 / 6%);
}

.wishlist-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--gray3);
}

.wishlist-info p {
    color: var(--gray2);
}

/*Back btn*/
.back-to-prev {
    margin-top: 2rem;
    gap: 0.5rem;
}