@media (max-width: 1127px) and (min-width: 769px) {
    .main-container {
        grid-template-columns:
            minmax(1.5rem, 1fr) minmax(auto, 1352px) minmax(1.5rem, 1fr);
    }

    .wishlist-page-container {
        padding-inline: 5px;
    }

    .wishlist-list {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }
}

@media (max-width: 768px) {
    .wishlists-index {
        padding-top: 0;
        margin-top: 90px;
    }

    .main-container {
        grid-template-columns:
            minmax(1rem, 1fr) minmax(auto, 1352px) minmax(1rem, 1fr);
    }

    .wishlist-page-container {
        padding-inline: 5px;
    }

    .wishlist-list {
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        gap: 12px;
    }
}