.compact-search-button {
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    border: 1px solid var(--gray5);
    background: var(--white);
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    min-width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    grid-column: 2;
    justify-self: center;
}

.compact-search-button:hover {
    transition: none;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.15);
}

.compact-search-button.hidden {
    visibility: hidden;
    pointer-events: none;
}

.compact-search-content {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
}

.compact-search-text {
    font-family: cereal-medium;
    font-size: 0.875rem;
    color: var(--gray3);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.compact-search-text:last-of-type {
    margin-inline-start: 0.5rem;
}

.compact-search-icon {
    font-size: 1rem;
}

.compact-search-divider {
    width: 1px;
    height: 24px;
    background: var(--gray5);
}

.compact-search-icon-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-inline-end: 0.4rem;
    margin-inline-start: 1rem;
    background-color: var(--primary-clr);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.compact-search-icon-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
}

.compact-search-icon-button svg {
    width: 12px;
    height: 12px;
}

.anywhere-icon {
    margin-inline-start: 0.4rem;
    height: 48px;
    width: 48px;
}

.mobile-compact-search {
    display: none;
}

.desktop-compact-header {
    display: block;
}

/* Mobile - hide CompactHeader, show SearchBar */
@media (max-width: 743px) {
    .desktop-compact-header {
        display: none;
    }

    .mobile-compact-search {
        display: block;
    }

    .compact-header-content .brand,
    .compact-header-content .host-link,
    .mobile-compact-search .anywhere-icon {
        display: none;        
    }

    .mobile-compact-search button {
        width: auto;
    }
}