.modal-popup.login-signup-modal {
    display: flex;
    flex-direction: column;
    z-index: 1100;
    width: 35.5rem;
    height: 78%;
}

.modal-popup.login-signup-modal {
    height: fit-content;

    header {
        position: sticky;
        flex: 0 0 auto;
        display: flex;
        min-height: 62px;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-bottom: 1px solid var(--gray5);
        color: var(--gray3);
        font-weight: 600;
        z-index: 2;
    }

    main.main-modal {
        padding: .5rem 1.5rem 1.5rem 1.5rem;

        h2 {
            padding-block: 1.4rem;
        }

        .login-form,
        .signup-form {
            display: grid;
            width: 100%;
            margin: auto;
            padding: 0;

            input {
                padding-inline: 1rem;
                font-size: 1rem;
                width: 100%;
                margin: 0.4em 0;
                height: 3.438rem;
                border: .5px solid var(--gray3);
                border-radius: 8px;

                &:focus {
                    border: 2px solid var(--gray3);
                }
            }

            label.img-upload.btn {
                border: .5px solid var(--gray3);
                width: 100%;
                border-radius: 8px;
                margin: 0.4em 0;

                input {
                    display: none;
                }
            }

            >button {
                width: 100%;
                border-radius: 8px;
                margin: 0.4em 0;
            }
        }

        .border {
            height: 1px;
            width: 100%;
            margin: 24px 0;
            position: relative;


            div {
                position: absolute;
                background-color: var(--white);
                padding: 0 20px;
                left: 50%;
                transform: translate(-50%) translateY(-50%);
                display: block;
            }
        }

        .login-options {
            display: grid;
            width: 100%;
            margin: auto;

            >* {
                position: relative;
                cursor: pointer;
                background: none;
                border: .5px solid var(--gray3);
                width: 100%;
                border-radius: 8px;
                margin: 0.4em 0;

                .logo {
                    position: absolute;
                    left: 5%;
                    transform: translate(-50%);
                }
            }

        }
    }

    &.mobile {
        transform: translate(-50%, -25%);
    }

}