.backdrop {
    position: fixed;
    inset: 0 0 0 0;
    background-color: hsla(0, 0%, 19%, 0.419);
    z-index: 12;
}

.modal-popup {
    z-index: 200;

    background-color: white;
    width: 780px;
    height: 659px;

    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -45%);
    transition:
        transform 0.35s ease-in-out,
        opacity 0.35s ease-in-out;

    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.02),
        0px 6px 8px 0px rgba(0, 0, 0, 0.10),
        0px 16px 56px 0px rgba(0, 0, 0, 0.18);

    h1 {
        font-size: 1.675rem;
        padding-bottom: 2rem;
        font-family: cereal-bold;
        letter-spacing: 0cap;
    }

    h2 {
        font-size: 1.375rem;
        line-height: 1.625rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 600;
    }

    header {
        min-height: 72px;
        padding: 1rem;
    }

    .main-modal {
        padding: 16px 1.825rem 1.825rem 1.825rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: auto;
        scrollbar-color: var(--gray7);
    }

}

.modal-popup.open {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modal-popup .close-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    border-radius: 50%;
    background: transparent;
    z-index: 10;
}

.modal-popup .close-btn svg {
    display: block;
    fill: none;
    stroke: var(--gray3);
    stroke-width: 3;
    width: 1rem;
    height: 1rem;
}

.modal-popup .close-btn:hover {
    background: var(--gray8);
}

.modal-popup .close-btn.left {
    left: .9rem;
}

.modal-popup .close-btn.right {
    right: .9rem;
}

.reviews-rating-modal {
    width: 1023px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-inline-start: 2rem;

    .main-modal {
        flex: 1;
        display: flex;
        overflow: hidden;
        padding: 0;

        .reviews-in-modal {
            display: grid;
            grid-template-columns: minmax(auto, 22.813rem) minmax(auto, 39.688rem);
            grid-template-areas: "rating review";
            gap: .875rem;
            width: 100%;


            .rate-wrapper {
                padding-inline-start: 2rem;
                padding-inline-end: 2rem;
                grid-area: rating;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: auto;
                scrollbar-color: var(--gray7);
            }

            .reviews-section {
                grid-area: review;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 1.5rem;
                scrollbar-width: auto;
                scrollbar-color: var(--gray7);

                .review-list {
                    display: grid;
                    grid-template-columns: 1fr;

                    .stay-review {
                        padding-bottom: 1rem;
                    }

                    .stay-review .pre h3 {
                        font-size: .875rem;
                        font-family: cereal-medium;
                        font-weight: 400;
                    }

                    span.txt .summary {
                        padding-block-start: .5rem;
                    }
                }
            }
        }
    }
}

.modal-popup.calendar {
    padding-block: .5rem;
}

.details-calendar,
.modal-popup.calendar {
    position: relative;

    .calendar-date span.light {
        line-height: 1.8rem;
    }

    .rdp-button_previous,
    .rdp-button_next {
        width: 1.2rem;
        font-weight: 400;
        margin-inline: 10px;
        margin-block: .7rem;
    }

    .rdp-months {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        z-index: 0;
    }

    .rdp-month_caption {
        margin-block: 1.1rem 1rem;
    }

    .date-modal-content .rdp-day {
        height: 32px;
    }

    .rdp-day_button,
    .rdp-day.rdp-range_middle .rdp-day_button {
        font-family: cereal-regular;
        width: 42px;
        height: 42px;
        font-size: 13px;
        font-weight: 600;
    }
}