.backdrop {
    position: fixed;
    inset: 0 0 0 0;
    background-color: hsla(0, 0%, 19%, 0.419);
    z-index: 12;
}

/* mobile */
.modal-popup.mobile {
    width: 100vw;
    height: 97%;
}

.modal-popup {
    z-index: 200;

    background-color: white;
    width: 767px;
    height: 82%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition:
        transform 0.35s ease-in-out,
        opacity 0.35s ease-in-out;

    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.02),
        0px 6px 8px 0px rgba(0, 0, 0, 0.10),
        0px 16px 56px 0px rgba(0, 0, 0, 0.18);

    h1 {
        font-size: 1.675rem;
        padding-block: 0;
        font-family: cereal-bold;
        letter-spacing: 0cap;
    }

    h2 {
        font-size: 1.375rem;
        line-height: 1.625rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 1.375rem;
        letter-spacing: -.4px;
    }

    header {
        min-height: 72px;
        padding: 1rem;
    }

    .main-modal {
        padding: .5rem 1.825rem 1.825rem 1.825rem;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: auto;
        scrollbar-color: var(--gray7);
    }

}

.modal-popup.open {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modal-popup .close-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    border-radius: 50%;
    background: transparent;
    z-index: 10;
}

.modal-popup .close-btn svg {
    display: block;
    fill: none;
    stroke: var(--gray3);
    stroke-width: 3;
    width: 1rem;
    height: 1rem;
}

.modal-popup .close-btn.none {
    display: none
}

.modal-popup .close-btn:hover {
    background: var(--gray8);
}

.modal-popup .close-btn.left {
    left: .9rem;
}

.modal-popup .close-btn.right {
    right: .9rem;
}

.modal-popup.reviews-rating-modal {
    max-width: 1032px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    >header {
        min-height: 3rem;
    }

    .main-modal {
        flex: 1;
        padding: 0;

        .reviews-in-modal {
            display: grid;
            grid-template-columns: minmax(auto, 22.813rem) minmax(auto, 39.688rem);
            grid-template-areas: "rating review";
            gap: .875rem;
            width: 100%;

            .rate-wrapper {
                padding-inline-start: 4rem;
                padding-inline-end: 2rem;
                grid-area: rating;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: auto;
                scrollbar-color: var(--gray7);
            }

            .reviews-section {
                grid-area: review;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 1.5rem;
                scrollbar-width: auto;
                scrollbar-color: var(--gray7);

                .review-list {
                    display: grid;
                    grid-template-columns: 1fr;

                    .stay-review {
                        padding-bottom: 1rem;
                    }

                    .stay-review .pre h3 {
                        font-size: .875rem;
                        font-family: cereal-medium;
                        font-weight: 400;
                    }

                    span.txt .summary {
                        padding-block-start: .5rem;
                    }
                }
            }
        }
    }

    /* ====REVIEWS MODAL BREAKING POINT */
    &.mid-layout {
        header {
            background-color: var(--gray8);
        }

        .main-modal .reviews-in-modal {
            display: flex;
            flex-direction: column;

            .rate-wrapper {
                display: flex;
                flex-direction: column;
                background-color: var(--gray8);
                border-bottom: 1px solid var(--gray6);
                padding-inline-end: 0;
                padding-inline-start: 2rem;
                height: 75%;

                /* overflow-y: hidden; */
                .carousel .preview-carousel-controls {
                    display: flex;
                    visibility: visible;

                    .preview-carousel-btn {
                        top: 10%;
                        background-color: var(--white);

                        &.left {
                            left: 0;
                        }

                        &.hide-carousel-btn {
                            visibility: hidden;
                        }
                    }
                }

                .rating-categories {
                    display: grid;
                    grid-template-columns: repeat(7, minmax(100px, 195px));
                    width: min(100vw, 940px);
                    padding-block-end: 1.5rem;

                    li.icons-rating:not(:last-child) {
                        border-right: 1px solid var(--gray6) !important;
                        border-bottom: none !important;
                    }

                    .overall-rating {
                        padding-inline-end: 1rem;
                        border-right: 1px solid var(--gray6);
                        padding-block-end: 0;
                    }

                    li.icons-rating {
                        padding: 0;
                        padding-inline: 1.5rem 3.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;

                        .rate-wrapper1 {
                            flex-direction: column;
                        }
                    }
                }
            }

            .reviews-section {
                padding: 2rem;
            }
        }
    }
}

.modal-popup.reviews-rating-modal .rate-wrapper .carousel .carousel-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (3 * .5rem)) / 4);
    gap: 0.5rem;
    overflow-x: auto;                 /* allow horizontal scroll */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* momentum on iOS */
    scroll-behavior: smooth;
}

.modal-popup.calendar {
    padding-block: .5rem;
}

.details-calendar,
.modal-popup.calendar {
    position: relative;

    .calendar-date span.light {
        line-height: 1.8rem;
    }

    .rdp-button_previous,
    .rdp-button_next {
        margin-block: .7rem;
        margin-inline: 8px;
    }

    .rdp-months {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        z-index: 0;
    }

    .rdp-month_caption {
        margin-block: 1.1rem 1rem;
    }

    .date-modal-content .rdp-day {
        height: 32px;
    }

    .rdp-day_button,
    .rdp-day.rdp-range_middle .rdp-day_button {
        font-family: cereal-regular;
        width: 42px;
        height: 42px;
        font-size: 13px;
        font-weight: 600;
    }
}