.credit-card-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
    gap: 0.5rem;
    /* this border replaces the radio’s btn border when active */
    border-bottom: 1px solid var(--divider);

    .credit-card-block {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column: 1/ -1;
        border: 1px solid var(--gray9);
        border-radius: 12px;
        overflow: auto;
        z-index: 0;
    }

    .credit-card-block input {
        border: none;
        border-radius: 0;
        padding: 0.75rem 1rem;
        width: 100%;
        font-size: 1rem;
        outline: none;
    }

    .expiry-wrap {
        grid-column: 1;
        position: relative;
    }

    .cvv-wrap {
        grid-column: 2;
        position: relative;
    }

    .card-number-wrap {
        grid-column: 1/-1;
        position: relative;
    }

    /* Horizontal line below card number */
    .card-number-wrap::before,
    .card-number-wrap::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        background: var(--gray9);
        width: 51%;
        z-index: 0;
    }

    .card-number-wrap::before {
        left: 0;
    }

    .card-number-wrap::after {
        right: 0;
    }

    /*vertical divider*/
    .expiry-wrap::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: var(--gray9);
    }

    /* Generic focused input style */
    .credit-card-block input:focus {
        border: 2px solid black;
        border-radius: 8px;
        outline: none;
        z-index: 3;
        position: relative;

    }

    .expiry-wrap input:focus {
        margin-top: -1px;
        width: calc(100% + 1px);
    }

    .cvv-wrap input:focus {
        margin-top: -1px;
        margin-right: -1px;
        /* eat into right divider */
        width: calc(100% + 1px);
    }

    /* Card number focus - hide both halves */
    .card-number-wrap:focus-within::before,
    .card-number-wrap:focus-within::after {
        display: none;
    }

    /* Expiry focus → hide only LEFT half & hide vertical divider */
    .credit-card-block:has(.expiry-wrap:focus-within) .card-number-wrap::before,
    .credit-card-block:has(.expiry-wrap:focus-within) .expiry-wrap::after {
        display: none;
    }

    /* When cvv focused → hide vertical + bottom divider */
    .credit-card-block:has(.cvv-wrap:focus-within) .expiry-wrap::after,
    .credit-card-block:has(.cvv-wrap:focus-within) .card-number-wrap::after {
        display: none;
    }


    input.country,
    input.zipcode {
        grid-column: 1/ -1;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        border: 1px solid var(--gray9);
        font-size: 1rem;
    }

}

.credit-card-logos {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 4px 0 0;
}

.credit-card-logos img {
    height: 8px;
    object-fit: contain;
    display: block;
}

.credit-card-logos img:last-child {
    height: 12px;
}

.credit-card-title-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 12px;
}

.credit-card-icon {
    margin-right: 1.3rem;
}

.googlepay-title-logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 12px;
}

.googlepay-icon {
    margin-right: 1rem;
}