.payment-radio {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-block: 1rem;
    cursor: pointer;
    user-select: none;
}

.payment-radio.active {
    border-bottom: none;
}

/* Hide the browser's default radio button */
.payment-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.payment-checkmark {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 1px solid var(--gray9);
    border-radius: 50%;
    flex-shrink: 0;
}

/* Hover on unchecked */
.payment-radio:hover input:not(:checked)~.payment-checkmark {
    background-color: transparent;
    border-color: black;
}

/* When the radio button is checked, add a black background */
.payment-radio input:checked~.payment-checkmark {
    background-color: var(--gray3);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.payment-checkmark::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--white);
    display: none;
}

/* Show the inner dot when checked */
.payment-radio input:checked~.payment-checkmark:after {
    display: block;
}