.details-calendar {
    position: relative;
    padding-block: 3rem;
    margin-bottom: 300px;
}

.calendar-date span.light {
    line-height: 1.8rem;
}

.details-calendar .date-container {
    box-sizing: border-box;
    position: absolute;
    /* left: -5%; */
    background: var(--white);
    width: fit-content;
    padding-block: 1rem;
}

.date-container .rdp {
    margin: 0;
}

.date-container .rdp-months {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    width: fit-content;
}

.date-container .rdp-month {
    position: relative;
}

.date-container .rdp-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
}

.date-container .rdp-button_previous,
.date-container .rdp-button_next {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
    margin-inline: 8px 12px;
}

.date-container .rdp-month_caption {
    margin-bottom: .5rem;
}

.date-container .rdp-button_previous:hover,
.date-container .rdp-button_next:hover {
    background: var(--gray1);
    border-color: var(--gray3);
}

.date-container .rdp-month_caption {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0;
}

.date-container .rdp-caption_label {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray3);
}

.date-container .rdp-month_grid {
    border-collapse: separate;
    border-spacing: 0;
}

.date-container thead {
    display: table-header-group;
}

.date-container tbody {
    display: table-row-group;
}

.date-container .rdp-weekdays {
    margin-bottom: 8px;
}

.date-container .rdp-weekdays tr {
    display: table-row;
}

.date-container .rdp-weekday {
    position: relative;
    color: transparent;
}

.date-container .rdp-weekday::before {
    content: attr(aria-label);
    position: absolute;
    left: 0;
    right: 5px;
    text-align: center;
    color: var(--gray3);
    font-size: 12px;

    font-family: cereal-light;
}

.date-container {
    .rdp-weekday[aria-label="Monday"]::before {
        content: "M";
    }

    .rdp-weekday[aria-label="Tuesday"]::before {
        content: "T";
    }

    .rdp-weekday[aria-label="Wednesday"]::before {
        content: "W";
    }

    .rdp-weekday[aria-label="Thursday"]::before {
        content: "T";
    }

    .rdp-weekday[aria-label="Friday"]::before {
        content: "F";
    }

    .rdp-weekday[aria-label="Saturday"]::before {
        content: "S";
    }

    .rdp-weekday[aria-label="Sunday"]::before {
        content: "S";
    }
}


.date-container .rdp-weeks {
    display: table-row-group;
}

.date-container .rdp-week {
    display: table-row;
}

.date-container .rdp-day {
    width: 42px;
    height: 42px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.date-container .rdp-day_button {
    font-family: cereal-medium;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray3);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    transition: all 0.1s ease;
    position: relative;
}

.date-container .rdp-day_button:hover:not(:disabled) {
    background: transparent;
    border: 1px solid var(--gray3);
}

.date-container .rdp-day.rdp-hidden {
    visibility: hidden;
}

.date-container .rdp-day.rdp-disabled .rdp-day_button,
.date-container .rdp-day_button:disabled {
    color: var(--gray5);
    cursor: default;
}

.date-container .rdp-day.rdp-disabled .rdp-day_button:hover,
.date-container .rdp-day_button:disabled:hover {
    background: transparent;
    border: none;
}

.date-container.rdp-day.rdp-selected .rdp-day_button {
    background: var(--gray3);
    color: var(--white);
    font-weight: 600;
}

.date-container .rdp-day.rdp-range_start .rdp-day_button {
    border-radius: 50%;
    background: var(--gray3);
    color: var(--white);
}

.date-container .rdp-day.rdp-range_end .rdp-day_button {
    border-radius: 50%;
    background: var(--gray3);
    color: var(--white);
}

.date-container .rdp-day.rdp-range_middle {
    position: relative;
}

.date-container .rdp-day.rdp-range_middle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gray1);
    /* z-index: -1; */
}

.date-container .rdp-day.rdp-range_middle .rdp-day_button {
    background: transparent;
    color: var(--gray3);
    font-weight: 400;
}

/* 
.search-section-date:not(.active):hover {
  background-color: var(--gray4);
  border-radius: 40px;
}

.search-item-container:has(.search-section-date.active) {
  background-color: var(--gray4);
}

.search-section-date.active {
  background-color: var(--white);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  z-index: 10;
}

.search-section-date.active + .search-divider,
.search-divider:has(+ .search-section-date.active) {
  opacity: 0;
} */