.details-calendar {
    padding-block: 3rem;
}

.modal-popup.calendar {
    padding-block: .5rem;
}

.details-calendar,
.modal-popup.calendar {
    position: relative;

    .calendar-date span.light {
        line-height: 1.8rem;
    }

    .rdp-button_previous,
    .rdp-button_next {
        width: 1.2rem;
        font-weight: 400;
        margin-inline: 10px;
        margin-block: .7rem;
    }

    .rdp-months {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        z-index: 0;
    }

    .rdp-month_caption {
        margin-block: 1.1rem 1rem;
    }

    .date-modal-content .rdp-day {
        height: 32px;
    }

    .rdp-day_button,
    .rdp-day.rdp-range_middle .rdp-day_button {
        font-family: cereal-regular;
        width: 42px;
        height: 42px;
        font-size: 13px;
        font-weight: 600;
    }
}