/* mobile */
.stay-details-header.mobile {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0px;
    top: auto;
    left: 0;
    right: 0;
    height: 5rem;

    border-top: 1px solid var(--gray6);


    padding-inline: clamp(.5rem, 3.5vw, 2.5rem);
    padding-block: 1rem;

    .mini-sticky-container.mobile {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button-wrapper button {
            width: 100%;
        }

        .cash-per-night {
            padding-block: 0;
        }

        .dates_sticky.mobile {
            display: flex;
            flex-direction: column;

            .add-dates_sticky {
                font-size: 1rem;
                padding-block: 0;
            }

            .mini-sticky {
                font-size: .8rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .2rem;
            }
        }

    }
}

.stay-details-header {
    display: grid;
    grid-template-columns: .5fr 1110px .5fr;
    z-index: 5;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid var(--gray6);

    &.big-layout {
        padding: 1rem 5rem 1rem 5rem;
    }

    &.big-layout.mid-layout {
        padding-inline: clamp(.5rem, 3.5vw, 2.5rem);
    }

    .nav-bar {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(4, auto) 1fr;
        width: 100%;
        gap: 1.5em;
        align-items: center;

        .span-nav {
            position: relative;
            font-family: cereal-medium;
            font-size: .9rem;
            letter-spacing: -.03em;
            cursor: pointer;

            &:hover {
                div.border-bot::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: var(--gray3);
                    bottom: -30px;
                }
            }
        }

        .mini-sticky-container {
            display: flex;
            flex-direction: row;
            justify-self: end;
            gap: 1rem;

            .button-wrapper {
                align-self: center;
            }

            .mini-rating-wrapper {

                display: flex;
                flex-direction: column;

                h2 {
                    padding-block: .2rem;
                    font-size: 1rem;
                }

                .cash-per-night {
                    justify-self: start;
                    padding-block: 0;
                    padding-inline: 1px;

                    .cash_sticky {
                        padding-block: 0;
                        line-height: 1.5rem;
                    }

                    span:not(.cash_sticky) {
                        font-size: .9rem;
                        align-self: end;
                    }
                }

                div.rating {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: .2em;

                    * {
                        font-size: .8rem;
                        line-height: 1rem;
                    }

                    span.avg {
                        font-family: cereal-medium;
                    }

                    span.light {
                        width: 80px;
                    }
                }
            }

        }
    }
}

.mini-sticky-container.mobile {
    position: fixed;
    display: flex;
}