/* =======MODAL===== */
.main-modal .reviews-in-modal .rate-wrapper {
    .rating.big {
        display: flex;
        gap: 8px;
        padding-block: 1.5rem;

        span.dot.bold::before {
            font-size: 1.5rem;
        }

        .avg.bold {
            font-size: 1.5rem;
        }

        span.rate.bold,
        span.bold {
            font-size: 1.5rem;
        }
    }

    ul.rating-categories {
        display: flex;
        flex-direction: column !important;
        padding-block-end: 0;

        li.icons-rating:not(:last-child) {
            border-bottom: 1px solid var(--gray6) !important;
            border-right: none !important;
        }

        li.icons-rating {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: .8rem 0;
            width: 100%;
            gap: 5%;

            span.svg-rate-icon svg {
                width: 26px;
                height: 26px;
            }

            h4.avg-value {
                font-family: cereal-medium;
                font-weight: 400;
                line-height: 1.5rem;
                letter-spacing: -.8px;
                font-size: .8rem;
            }

            .rate-wrapper1 {
                display: flex;
                justify-content: space-evenly !important;
                flex-direction: row;
                padding-block-end: 0;
                font-family: cereal-medium;
                width: 100%;

                .review-category {
                    font-size: 0.865rem;
                    margin-right: auto;
                }
            }
        }

        ul.overall-rating {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-right: none;
            width: 100%;
            padding-inline: 0px;
            /* gap: 4px; */
            padding-block-end: .5rem;

            li {
                width: 100%;
            }

            .overall-rating-bar {
                display: flex;
                align-items: center;
                flex-direction: row;
                line-height: 0.865rem;
                gap: 5px;
            }

            .h {
                font-family: cereal-medium;
                font-size: 0.865rem;
            }

            .num {
                font-size: small;
            }

            .bar-segment {
                width: 100%;
                height: 4px;
                background-color: #e0e0e0;
                overflow: hidden;
                border-radius: 2px;
            }

            .bar-fill {
                height: 100%;
                background-color: #222;
                transition: width 0.3s ease;
            }
        }

    }
}

/* ==== DETAILS ==== */

.review-section {

    padding-block: 1rem 2.1rem;

    .rate-wrapper {
        display: flex;
        flex-direction: column;

        .rating.big {
            display: flex;
            gap: 8px;
            padding: 2.5rem 0;

            span.dot.bold::before {
                font-size: 1.575rem;
            }

            .avg.bold {
                font-size: 1.675rem;
            }

            span.rate.bold,
            span.bold {
                font-size: 1.675rem;
            }
        }

        .rating-categories {
            display: grid;
            grid-template-columns: repeat(7, minmax(100px, 195px));
            padding-block-end: 2.5rem;

            li.icons-rating:not(:last-child) {
                border-right: 1px solid var(--gray6);
            }

            li.icons-rating {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-inline: 1.5rem 3.3rem;

                span.svg-rate-icon {
                    padding-top: .5rem;

                    svg {
                        width: 32px;
                        height: 32px;
                    }
                }

                .rate-wrapper1 {
                    display: flex;
                    flex-direction: column;
                    padding-block-end: 1.4rem;
                    font-family: cereal-medium;

                    .review-category {
                        font-size: 0.865rem;
                    }

                    h4.avg-value {
                        font-family: cereal-medium;
                        font-weight: 400;
                        line-height: 1.5rem;
                        letter-spacing: -.8px;
                        font-size: 1.2rem;
                    }
                }
            }

            ul.overall-rating {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                border-right: 1px solid var(--gray6);
                padding-inline-end: 1.8rem;
                gap: 8px;

                li {
                    width: 140px;
                    height: 8px;
                }

                .overall-rating-bar {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    line-height: 0.865rem;
                    gap: 5px;
                }

                .h {
                    font-family: cereal-medium;
                    font-size: 0.865rem;
                }

                .num {
                    font-size: 0.8rem;
                }

                .bar-segment {
                    width: 100%;
                    height: 4px;
                    background-color: #e0e0e0;
                    overflow: hidden;
                    border-radius: 2px;
                }

                .bar-fill {
                    height: 100%;
                    background-color: #222;
                    transition: width 0.3s ease;
                }
            }
        }
    }
}