/* =======MODAL===== */
.main-modal .reviews-in-modal .rate-wrapper {
    padding-block-end: 2rem;

    >.rating.big {
        display: flex;
        gap: 8px;
        padding: 1.5rem;

        span.dot.bold::before {
            font-size: 1.5rem;
        }

        .avg.bold {
            font-size: 1.5rem;
        }

        span.rate.bold,
        span.bold {
            font-size: 1.5rem;
        }
    }

    >.rating-categories {
        display: flex;
        flex-direction: column !important;

        >li.icons-rating:not(:last-child) {
            border-bottom: 1px solid var(--gray6) !important;
            border-right: none !important;
        }

        >li.icons-rating {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: .5rem 0;
            width: 100%;
            gap: 8%;

            span.svg-icon svg {
                width: 26px;
                height: 26px;
            }

            .rate-wrapper1 {
                display: flex;
                justify-content: space-evenly !important;
                flex-direction: row;
                padding-block-end: 0;
                font-family: cereal-medium;
                width: 100%;

                .review-category {
                    font-size: 0.865rem;
                    margin-right: auto;
                }
            }
        }

        >ul.overall-rating {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-right: none;
            width: 100%;
            padding-inline: 0px;
            padding-block: 1rem;

            li {
                width: 100%;
            }

            .overall-rating-bar {
                display: flex;
                align-items: center;
                flex-direction: row;
                line-height: 0.865rem;
                gap: 5px;
            }

            .h {
                font-family: cereal-medium;
                font-size: 0.865rem;
            }

            .num {
                font-size: small;
            }

            .bar-segment {
                width: 100%;
                height: 4px;
                background-color: #e0e0e0;
                overflow: hidden;
                border-radius: 2px;
            }

            .bar-fill {
                height: 100%;
                background-color: #222;
                transition: width 0.3s ease;
            }
        }

    }
}

/* ==== DETAILS ==== */
.review-section {

    padding-top: 1rem;
    /* padding-block-end: 4rem; */

    .rate-wrapper {

        .rating.big {
            display: flex;
            gap: 8px;
            padding: 2rem;

            span.dot.bold::before {
                font-size: 1.575rem;
            }

            .avg.bold {
                font-size: 1.675rem;
            }

            span.rate.bold,
            span.bold {
                font-size: 1.675rem;
            }
        }

        .rating-categories {
            display: flex;
            flex-direction: row;
            padding-block-end: 2.5rem;

            li.icons-rating:not(:last-child) {
                border-right: 1px solid var(--gray6);
            }

            >li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-inline: 1.5rem;
                width: 150px;

                span.svg-icon {
                    padding-top: .5rem;

                    svg {
                        width: 32px;
                        height: 32px;
                    }
                }

                .rate-wrapper1 {
                    display: flex;
                    flex-direction: column;
                    padding-block-end: 1.5rem;
                    font-family: cereal-medium;

                    .review-category {
                        font-size: 0.865rem;
                    }
                }
            }

            >ul.overall-rating {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 1px solid var(--gray6);
                padding-inline: 1.5rem;

                li {
                    width: 127px;
                }

                .overall-rating-bar {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    line-height: 0.865rem;
                    gap: 5px;
                }

                .h {
                    font-family: cereal-medium;
                    font-size: 0.865rem;
                }

                .num {
                    font-size: small;
                }

                .bar-segment {
                    width: 100%;
                    height: 4px;
                    background-color: #e0e0e0;
                    overflow: hidden;
                    border-radius: 2px;
                }

                .bar-fill {
                    height: 100%;
                    background-color: #222;
                    transition: width 0.3s ease;
                }
            }
        }
    }
}