:root {
    --outline-main: .5px solid #6a6a6a;
}

.sticky-container-wrap {
    position: sticky;
    top: 85px;
    height: 22rem;
}

.sticky-container-wrap:has(.payment-summary) {
    height: 39rem;
}

.rare-find-wrapper.mobile .cash-per-night {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0;

    span {
        font-size: .7rem;
    }

}

.rare-find_sticky {
    box-shadow: 3px 6px 20px 0px var(--gray6);
    border-radius: 12px;
    padding: .7rem;
    width: 100%;
    position: absolute;
    right: 0;
    top: -16%;
    display: flex;
    flex-direction: row;
    gap: .6rem;
    justify-content: center;
    align-items: center;
}

h2.add-dates_sticky {
    padding-block: 1rem 1.3rem;
    font-family: cereal-light;
    font-weight: 600;
    line-height: 1.5rem;
}

.cash-per-night {
    display: flex;
    align-items: center;
    font-family: cereal-light;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.5rem;
    padding-block: .5rem 1.3rem;
    gap: .3rem;

    .cash_sticky {
        font-size: 1.5rem;

        &.bold {
            line-height: 1rem;
            font-family: cereal-bold;
            font-size: 1rem;
            text-decoration: underline;
        }
    }
}

.sticky-container:has(.rare-find_sticky) {
    margin-top: 6.4rem;
    padding: .875rem 1.6rem .4rem 1.6rem;
    outline: 0px;

    /* top:1%; */

    .modal-popup.calendar {
        top: 60%;
    }

    .modal-popup.guests {
        top: 75.5%;
    }
}

.sticky-container {
    margin-top: 2rem;
    box-shadow: 3px 6px 20px 0px var(--gray6);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    outline: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    position: absolute;
    width: 100%;
    padding: .5rem 1.6rem 1.4rem 1.6rem;
    display: grid;

    .form-wrapper {
        outline: var(--outline-main);
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-items: start;
        margin-bottom: 1rem;

        .border-bot::before {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid var(--gray3);
        }
    }

    .form-wrapper:has(.active) {
        .border-bot::before {
            display: none;
        }
    }

    .date-wrapper {
        position: relative;
        z-index: 3;
        display: flex;
        width: 100%;
        gap: 1px;

        height: 3.5rem;

        .divider::before {
            content: '';
            display: block;
            height: 100%;
            outline: var(--outline-main);
        }
    }

    .date-wrapper:has(.search-section-date.active) {
        border: 1px solid var(--gray3);
        border-radius: 8px;
        z-index: 4;

        .divider::before {
            height: 0%;
        }
    }

    .search-section-date,
    .search-section-who {
        padding-inline: .7rem;

        .search-label {
            font-family: cereal-medium;
            font-weight: 400;
            font-size: .675rem;
            color: black;
        }

        .search-placeholder.has-value {
            color: black;
        }
    }

    div.search-section:hover {
        background-color: transparent;
    }

    div.search-section-date.active {
        outline: 2.4px solid var(--gray3);
        border-radius: 8px;
        z-index: 4;
    }

    .modal-popup.calendar {
        background-color: white;
        position: absolute;
        width: 720px;
        left: 5%;
        top: 100%;
        height: fit-content;
        transition: top 0.3s ease;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
        z-index: 1;

        &.small.med.big {
            left: -30%;
        }

        &.med.big {
            left: -20%;
        }

        &.big {
            left: -8%;
        }

        >header {
            min-height: 0;
            padding: 1rem;
        }

        .main-modal {
            padding: 0 1rem 0 1rem;

            .calendar-date {
                padding-inline-start: 1rem;

                h2 {
                    padding: 0;
                }
            }

        }
    }

    .search.close-btn {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: .7rem;
        right: .2rem;
        border-radius: 50%;
        background: transparent;
        z-index: 10;
    }

    .search.close-btn:hover {
        transition: 0.3s;
        background-color: #f7f7f7;
    }

    .search.close-btn svg {
        display: block;
        fill: none;
        stroke: var(--gray3);
        stroke-width: 3;
        width: 0.75rem;
        height: 0.75rem;
    }

    .guest-wrapper {
        content: '';
        display: flex;
        height: 3.4rem;

        .active {
            outline: 2px solid var(--gray3);
            border-radius: 8px;
        }
    }

    .guest-wrapper:has(.search-section-who.active) {
        content: '';
        outline: none;
    }

    .modal-popup.guests {
        width: 324px;
        height: 323px;
        position: absolute;
        transition: none;
        left: 50%;
        top: 129.4%;
        border-radius: 8px;
        box-shadow: 0px 0px 7px -4px #2f2c2c;
        padding: 0;

        >header {
            min-height: 0;
            padding: 0;
        }

        .main-modal {
            height: fit-content;
            padding: 0;
            padding-block-start: 1rem;

            .suggestions-dropdown {
                margin: .4rem;
                margin-block-start: .4rem;
            }

            .guest-selector .guest-row {
                padding-block: .675rem;
                border-bottom: 0;
                margin: 0;
            }
        }
    }

    .not-charged {
        justify-self: center;
        font-size: .95rem;
        padding: .8rem;
    }

    .payment-summary {
        display: grid;
        width: 100%;

        div.total {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .price-calc {
            padding-block: 1rem;
        }

        .clean-calc {
            padding-block: 0 1.2rem;
        }

        .total-calc {
            padding-block: 1.5rem 1rem;
        }

        span.link {
            font-family: cereal-medium;
            line-height: 1.5rem;
        }
    }
}