/* ========== Base Button ========== */
/* Clean start */
button {
    border: 0;
    cursor: pointer;
}

.btn {
    /* general button reset + shared properties */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    font-family: cereal-medium;
    border-radius: .75em;
    border: none;
    padding: .875em 1.5em;
    transition: 0.3s
}

/* ========== Theme Variants ========== */
.btn-pink {
    /* pink button styles */
    background-color: var(--primary-clr);
    color: var(--white);
}

.btn-pink:hover {
    background-color: var(--reserve-btn-hover);
}

.btn-black {
    /* black button styles */
    background-color: var(--gray3);
    color: var(--white);
    border-radius: .5em;
    font-size: 1em;
}

.btn-black:hover {
    background-color: black;
}

.btn-gray {
    /* gray button styles */
    background-color: var(--gray1);
}

.btn-gray:hover {
    background-color: var(--gray5);
}

.btn-transparent {
    /* transparent button styles */
    background-color: transparent;
    border: none;
    color: var(--gray3);
}

.btn-transparent:hover {
    background-color: var(--gray4);
}

.btn-link {
    /*transparent btn that is a link*/
    background-color: transparent;
    text-decoration: underline;
    color: var(--gray3);
    padding: 0;
}

.btn-link:hover {
    color: black;
}

/* ========== Shape Modifiers ========== */
.btn-pill {
    /* pill shape */
    border-radius: 1.875em;
}

.btn-round {
    border-radius: 50%;
}

/* ========== Functional Variants ========== */
.btn-close {
    /* modal close button */
    border-radius: 50%;
    background-color: transparent;
}

.btn-close:hover {
    background: var(--gray8);
}


/* ====Open-Close Modal */

.open-modal {
    border: none;
    font-family: cereal-medium;
    font-size: 1rem;
    color: var(--gray3);
    background-color: var(--gray1);
    padding: 14px 24px;
    margin-block-end: 2rem;
    border-radius: 12px;
    margin-bottom: 10px;
}

.open-modal:hover {
    transition: 0.3s;
    background-color: var(--gray4)
}

.close-modal {
    border: none;
    background-color: transparent;
    color: var(--gray3);
    padding: 1px;
    margin: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.close-modal:hover {
    transition: 0.3s;
    background-color: #f7f7f7;
}

.pink {
    --mouse-x: 50%;
    --mouse-y: 50%;
    height: 46px;
    --palette-bg-secondary-core-hover: radial-gradient(circle at var(--mouse-x) var(--mouse-y),
            /* #fb4163 5%, */
            #f12050 20.5%,
            #E61E4D 30%,
            #e21257 40%,
            #D70466 67.5%,
            #d80767 70%,
            /* #af1a51 100% */
            #D70466 100%);
    position: relative;

    background-image:
        var(--palette-bg-secondary-core-hover, var(--palette-bg-secondary-core-hover));

    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    background-size: 200%;


    padding: .8rem 2rem;
    font-size: 1rem;
    font-family: cereal-medium;
    border: none;
    color: white;
    cursor: pointer;
    background-size: 150%;
    border-radius: 50px;
    outline: none;
    transition:
        background-position 1s ease-in-out,
        filter 1s ease-in-out,
        opacity 1.25s ease-in-out;

    filter: contrast(89%);
}

.pink:hover {
    transition: filter 1s ease-in-out;

    filter: contrast(100%);
}