/* ========== Base Button ========== */
.btn {
    /* general button reset + shared properties */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    font-family: cereal-regular;
    font-weight: bolder;
    border-radius: .75em;
    border: none;
    padding: .875em 1.5em;
    transition: 0.3s
}

/* ========== Theme Variants ========== */
.btn-pink {
    /* pink button styles */
    background-color: var(--primary-clr);
    color: var(--white);
}

.btn-pink:hover {
    background-color: var(--reserve-btn-hover);
}

.btn-black {
    /* black button styles */
    background-color: var(--gray3);
    color: var(--white);
    border-radius: .5em;
    font-size: 1em;
}

.btn-black:hover {
    background-color: black;
}

.btn-gray {
    /* gray button styles */
    background-color: var(--gray1);
}

.btn-gray:hover {
    background-color: var(--gray5);
}

.btn-transparent {
    /* transparent button styles */
    background-color: transparent;
    border: none;
    color: var(--gray3);
}

.btn-transparent:hover {
    background-color: var(--gray4);
}

.btn-link {
    /*transparent btn that is a link*/
    background-color: transparent;
    text-decoration: underline;
    color: var(--gray3);
    padding: 0;
}

.btn-link:hover {
    color: black;
}

/* ========== Shape Modifiers ========== */
.btn-pill {
    /* pill shape */
    border-radius: 1.875em;
}

.btn-round {
    border-radius: 50%;
}

/* ========== Functional Variants ========== */
.btn-close {
    /* modal close button */
    border-radius: 50%;
    background-color: transparent;
}

.btn-close:hover {
    background: var(--gray8);
}