button {
	padding: .5em .8em;
	border: 0;
	margin: .5em;
	cursor: pointer;
}

button:hover {
	transition: 0.3s;
	background-color: var(--gray6)
}

button.open-modal {
	font-family: cereal-medium;
	font-size: 1rem;
	color: var(--gray3);
	background-color: var(--gray1);
	padding: 14px 24px;
	margin-block-end: 2rem;
	border-radius: 12px;
	margin-bottom: 10px;
}

button.open-modal:hover {
	transition: 0.3s;
	background-color: var(--gray4)
}

button.close-modal {
	background-color: transparent;
	color: var(--gray3);
	padding: 1px;
	margin: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
}

button.close-modal:hover {
	transition: 0.3s;
	background-color: #f7f7f7;
}