/* Seperator */
div.border {
    border-top-color: var(--gray6);
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

/* Flex helpers */
.flex {
    display: flex;

    >.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-evenly {
        justify-content: space-evenly;
    }

    &.justify-between {
        justify-content: space-between;
    }
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}