.main-container {
    display: grid;
    /* grid-template-columns: minmax(1.8rem, 1fr) minmax(auto, 909px) minmax(1.8rem, 1fr); */
    min-height: 100vh;
    /* Base layout for all screens */
    grid-template-columns:
        minmax(3rem, 1fr)
        /* left margin */
        minmax(auto, 100%)
        /* main content */
        minmax(3rem, 1fr);
    /* right margin */

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
}


.grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    gap: 10px;

    >article {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 2rem;
        text-align: center;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}