@font-face {
    font-family: cereal-light;
    src: url(../fonts/cereal/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: cereal-medium;
    src: url(../fonts/cereal/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: cereal-regular;
    src: url(../fonts/cereal/AirbnbCereal_W_Bk.otf);
}

@font-face {
    font-family: cereal-bold;
    src: url(../fonts/cereal/AirbnbCereal_W_Bd.otf);
}

