:root {
  --primary-clr: #ff385c;

  /*Reserve button hover gradiant*/
  --reserve-btn-hover: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);

  /* --clr1: #ce2e6c; */
  /* --clr2: #4f3a65; */
  /* --clr3: #574f7d; */
  /* --clr4: #95adbe;
  --clr5: #dff0ea; */

  /* --clr1-light: color-mix(in lab, var(--clr1), white 15%); */

  /*Text colors From air bnb*/
  /*btn Bg color*/
  --gray1: #f2f2f2;
  /*Lighter text color*/
  --gray2: #6A6A6A;
  /*Most of the text color in the website*/
  --gray3: #222222;

  /* header-bg */
  --gray4: #ebebeb;
  /* header-btns-hover */
  --gray5: #e5e5e5;
  /* border-color */
  --gray6: #DDDDDD;
  /* scroller color */
  --gray7: #C1C1C1;


  /*btn Bg color2*/
  --gray8: #f7f7f7;

  /*radio button border*/
  --gray9: #8C8C8C;


  --header-bg: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);

  /* Main bg */
  --white: #FFFFFF;

  /*border-bottom*/
  --divider: rgba(0, 0, 0, 0.08);
}