.stay-list-section {
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
    /* pull section to left edge */
    margin-right: calc(50% - 50vw);
    /* pull section to right edge */
}

.stay-list-title {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    color: var(--gray3);
    cursor: pointer;
    font-family: cereal-medium;
    font-weight: 500;
}

.right-pointer svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
}

.right-pointer {
    display: inline-flex;
    align-items: center;
    margin-left: 0.15rem;
}

.stay-row {
    padding-left: 48px;
    padding-right: 48px;
}

.stay-row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}