.stay-list-section {
    max-width: 100%;
    overflow: hidden;
    /*prevent page scrollbar*/
}

.stay-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/7);
    gap: .5rem;

    overflow-x: auto;
    /* enable horizontal scrolling */
    overflow-y: hidden;
    max-width: 100%;
}

.stay-list::-webkit-scrollbar {
    display: none;
}


/* .stay-list {
    --min-column-size: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5rem;
    justify-items: stretch;
    justify-content: start;
} */

.stay-list-title {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 20px;
    color: var(--gray3);
    cursor: pointer;
    font-family: cereal-medium;
    font-weight: 500;
}

.right-pointer {
    width: 0.6em;
    height: 0.6em;
}

.stay-row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.carousel-controls button {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid lightgray;
}