.stay-list-section {
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
    /* pull section to left edge */
    margin-right: calc(50% - 50vw);
    /* pull section to right edge */
}

.stay-list-title {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 1.125rem;
    color: var(--gray3);
    cursor: pointer;
    font-family: cereal-regular;
    font-weight: 600;
    padding-inline-end: 0.75rem;
}

.right-pointer svg {
    display: block;
    fill: none;
    height: 0.75rem;
    width: 0.75rem;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
}

.right-pointer {
    display: inline-flex;
    align-items: center;
    margin-left: 0.15rem;
}

.stay-row {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    margin-top: -0.25rem;
    margin-bottom: -0.5rem;
}


.stay-row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1.6rem; */
    margin-top: 2rem;
    margin-bottom: 0.85rem;
}